.controls
    position relative
    text-align right
    background #f5f5f5
    border-bottom 1px solid #eee
    min-height 41px

    .btn
        float left

    select
        margin 5px
        display inline-block
        vertical-align 3px

    .tabs
        margin 10px 10px -1px 5px
        display inline-block

        a
            color black
            text-decoration none
            display inline-block
            border 1px solid #e5e5e5
            border-bottom-color transparent
            line-height 30px
            margin-left 10px
            padding 0 15px
            color #888

            &.active
                color black
                background white

