body
    margin 0
    font 1em/1.3 helvetica neue, sans-serif
    
    h1 
        font-size 1.5em
        margin .5em 0 0

#container
    @import 'shortcuts.styl'
    @import 'buttons.styl'
    @import 'controls.styl'
    @import 'page-list.styl'
    @import 'page-new.styl'
    @import 'page-details.styl'
